{% load staticfiles %}

<!DOCTYPE html>
<html>
<title>Moody Page</title>
<head>
	<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
</head>
<body>
<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">    

    <div class="container h-90">
        <div class="row align-items-center h-90">
            <div class="col-sm-7 mx-auto">
            	<div class="jumbotron horizontal-center">
                <p class="text-white" style="font-size: 40px; text-align: center"><strong>Hello Falya! How are you?</strong></p>
                <br>
                <form action="" method="POST" class="w3-left-align isi">
                    {% csrf_token %}                    
                    {{ form.as_p }}
                    <input type="submit" value="Post My Current Status!">
                </form>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="roundedrec">
                    <div class="insiderec" style="text-align: center;">
                        <p class="judul" style="text-align: center;">My Status</p>
                        <a href="/profile-6/" class="btn btn-default">See My Profile!</a>
                        <hr>
                        <table style="width:100%">
                        	<center>
                                {% for i in status %}
                                    <tr>
                                        <td>{{ i.status }}</td>
                                        <td>{{ i.created_date.time }}</td>
                                    </tr>
                                {% endfor %}
                            </center>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>

