{% load staticfiles %}

<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Personal Blog</title>
	
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />

</head>

<!--HTML -->

<body>
		<!-- PROFILE -->
		<div class="jumbotron" id="firstpage">
		<center>
	  <h1 class="display-4">Hello!</h1>
	  <img src="https://scontent.fjkt1-1.fna.fbcdn.net/v/t1.0-9/41356489_2086381294729523_8140473243795456000_n.jpg?_nc_cat=0&oh=29be8ffd30f25b2b60eebd4e85dc71f6&oe=5C2EA4FF" width="300">
	  <h2 class="display-4">I'm Falya Aqiela Sekardina</h2>
	  <p class="lead">I am a front-end web developer who wants to know more about Information of Technology, loves to eat, loves to travelling, and socialize with friends.</p>
	  <hr>
		</center>
	</div>