body, html {
    height: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /*background: linear-gradient(to right, #d66d75, #e29587);*/
    background: linear-gradient(to right, #c33764, #1d2671);
}
/*Khusus CSS Profile*/
/*.jumbotron{
	background-image: url("https://scontent.fjkt1-1.fna.fbcdn.net/v/t1.0-9/42130567_2097316410302678_2658966535866941440_n.jpg?_nc_cat=0&oh=57021b20f70e548dd277e99b54ba8212&oe=5C2E4142");
	margin: 0%;
	border: 0%;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

#firstpage h1, h2{
	color: white;
	margin-top: 0%;
}

#firstpage img{
	border-radius: 50%;
}

#firstpage hr{
	text-align: center;
}*/
/*----------------------------------------*/

#firstpage{
	border: 0%;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	height: 100%;
	width: 100%;
}

.roundedrec {
    border-radius: 10px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px 0.1px rgba(116, 116, 116, 0.1);
    margin-top:17px;
    margin-bottom:17px;    
}

.horizontal-center{
	margin-top: 150px;
	min-height: 90vh;
	min-height: 100%;
}

.isi {
    color: #666666;
    font-size: 16px;
}

.insiderec {
    padding: 30px;
    margin-top: 150px;
    text-align: center;
}

.judul {
    color: #999999;
    text-align: left;
    font-size: 20px;
}

input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */  
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

input[type=email], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */  
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

input[type=date], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */  
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

input[type=submit] {
    background-color: white;
    color: #666666;
    margin-top: -17px; 
    padding: 12px 25px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #999999;
    color: white;
}