{% load staticfiles %}

<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Cerita Untuk Kamu</title>
  <link rel="shortcut icon" type="image/png" href="https://image.ibb.co/m6LaUf/universe.png" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="{% static 'css/detail.css' %}" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/css/swiper.min.css" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/js/swiper.js"></script>
  <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
  <div class="container">
    <br>
      <h2 style="text-align:center;">
          See What I Thought About
      </h2>
      <br>
      <p style="text-align:center;">
        All things i feel, i heard, i see, you can found here!
      </p>
      <div class="row">
          {% for data in cerita %}
          <div class="col-12 col-md-4 p-3">
            <div class="jumbotron">
                <h2>
                  <strong>{{data.judul}}</strong>
                </h2>
                <p> {{data.created_date}} </p>
                <img src="{{data.image}}" width="300" alt="{{data.judul}}">
                <hr>
              <a>
                <a class="login" href="/cerita_untuk_kamu/{{data.url}}" style="color: white; text-align: center;">More</a>
              </a>
        </div>
        </div>
        {% endfor %}
      </div>
  </div>
  <!-- <script src="{% static 'js/ceritaJS.js' %}"></script> -->
</body>

</html>