{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Detail</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'css/detail.css' %}" />
</head>
<body>
        <div class="jumbotron" id="detail">
                <h2>
                  <strong>{{view.judul}}</strong>
                  <br>
                  <br>
                  <img src="{{view.image}}" width="300" alt="{{view.judul}}">
                </h2>
                <hr>
              <a>
                {{view.created_date}}
                <br>
                {{view.content}}
                <br>
                <br>
                <a class="login" href="/cerita_untuk_kamu/" style="color: white; text-align: center;">Back</a>
              </a>
        </div>
</body>
</html>