@import url('https://fonts.googleapis.com/css?family=Nunito:200,300,400,600,700');

.profile-card {
  width: auto;
  height: auto;
  /* position: absolute; */
  padding: 20px;
  text-align: center;
  left: 50%;
  top: 50%;
  z-index: 2;
  /* overflow: hidden; */
  opacity: 0;
  margin-top: 70px;
  /* -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-border-radius: 50%; */
  /* border-radius: 50%; */
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.23);
  /* animation: init 0.5s 0.2s cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards, 
             moveDown 1s 0.8s cubic-bezier(0.6, -0.28, 0.735, 0.045) forwards, 
             moveUp 1s 1.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards, 
             materia 0.5s 2.7s cubic-bezier(0.86, 0, 0.07, 1) forwards; */
}


/* @keyframes init {
  0% {
    width: 0px;
    height: 0px;
  }
  100% {
    width: 56px;
    height: 56px;
    margin-top: 0px;
    opacity: 1;
  }
}

@keyframes moveDown {
  0% {
    top: 50%;
  }
  50% {
    top: 40%;
  }
  100% {
    top: 100%;
  }
}

@keyframes moveUp {
  0% {
    background: whitesmoke;
    top: 100%;
  }
  50% {
    top: 40%;
  }
  100% {
    top: 50%;
    background: whitesmoke;
  }
}

@keyframes materia {
  0% {
    background: whitesmoke;
  }
  50% {
    border-radius: 4px;
  }
  100% {
    width: auto;
    height: auto;
    background: whitesmoke;
    border-radius: 4px;
  }
} */

.login {
  background-color: #002878;
  background-image: linear-gradient(to right, #ad5389, #3c1053);
  background-position: 100% 0;
  background-size: 200% 200%;
  color: white;
  border-radius: 50px;
  padding: 9px 18px;
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  font-weight: 200;
  text-decoration: none;
  box-shadow: 0 16px 32px 0 rgba(0, 40, 120, .35);
  transition: all 0.5s ease; 

}

.login:hover {
  box-shadow: 0 0px 0px 0 #ad5389;
  background-position: 0 0;
}
