@import url('https://fonts.googleapis.com/css?family=Nunito:200,300,400,600,700');

body {
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Nunito', sans-serif;
}

.jumbotron{
    background-color: whitesmoke;
    margin-top: 7%;
    height: auto;
    width: auto;
    padding: 20px !important;
    border-radius: 7px;
    text-align: center;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.23);
}

#detail{
    background-color: whitesmoke;
    margin-top: 7%;
    height: auto;
    width: auto;
    padding: 20px !important;
    border-radius: 7px;
    text-align: center;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.23);
}

hr{
    margin-bottom: 13px;
    margin-top: 8px;
    border-top: 1px solid #ddd !important;
}

.login {
    background-color: #002878;
    background-image: linear-gradient(to right, #ad5389, #3c1053);
    background-position: 100% 0;
    background-size: 200% 200%;
    color: white;
    border-radius: 50px;
    padding: 9px 18px;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    font-weight: 200;
    text-decoration: none;
    box-shadow: 0 16px 32px 0 rgba(0, 40, 120, .35);
    transition: all 0.5s ease; 

}

.login:hover {
    box-shadow: 0 0px 0px 0 #ad5389;
    background-position: 0 0;
}

@media only screen and (max-width: 600px) {
    .jumbotron{
        background-color: whitesmoke;
        margin-top: 10%;
        height: 100%;
        width: 100%;
        padding: 20px !important;
        border-radius: 7px;
        text-align: center;
    }
}